Source: libkeepalive-ng
Section: libs
Priority: optional
Standards-Version: 4.2.1
Maintainer: Unmaintained <nobody@nowhere.com>
Build-Depends: debhelper (>= 11), bats, strace, netcat-openbsd
Homepage: https://github.com/msantos/libkeepalive

Package: libkeepalive-ng
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: libkeepalive0
Description: LD_PRELOAD library for enabling TCP keepalive socket options
 Debian packaging of https://github.com/msants/libkeepalive
